#web_app{
    height: 100vh;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

/* mouse over link */
a:hover {
  color: darkseagreen;
}

/* selected link */
a:active {
  color: blueviolet;
} 

p.serif {
  font-family: "Times New Roman", Times, serif;
}
p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}